@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$blueishcolor: #0284c7;
$blackishcolor: #0f172a;
$whiteishcolor: #f8fafc;
$greyishcolor: #e2e8f0;
$font: 'Inter', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
}